*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root{
    --first-color:#48C9B0;
    --second-color:#F4D03F;
    --third-color:#17202A;
    --four-color:#0E6251;
    --five-color:#87CEFA;
    --six-color:#FF0000;
    --seven-color:#FFFAFA;
    --ten-color:#4682B4;
}

htmml{
    font-size: 62.5%;
}

body{
    margin: 10px;
    background: var(--first-color);

}

.div-container{
    height: 100vh;
    display: grid;
    grid-template:repeat(100, 1fr)/ repeat(100, 1fr);
    grid-auto-flow: row;
    position: relative;
}

.figure{
    position: absolute;
    top: 178px;
    left: 310px;
    z-index: -1;
}


.div-items-1{
    background: var(--five-color);
    grid-column: 8/ 25;
    grid-row: 10 / 15 ;
}

.div-items-2{
    background: var(--third-color);
    grid-column: 25 / 45;
    grid-row: 10 / 42;
    opacity: 0.5;
}

.div-paragraph-2 .paragraph-number{
    position: relative;
    top: 300px;
    left: 350px;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.div-paragraph{
    display: grid;
    width: 200px;
    place-items: center;
    
}

.div-paragraph .paragraph{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    position: relative;
    left: 280px;
    top: 200px;
}

.div-items-3{
    background: var(--ten-color);
    grid-column: 18 / 25;
    grid-row:32 / 42;
}

 .div-items-4{
    background: var(--second-color);
    grid-column: 25 / 33;
    grid-row: 42 / 55;
} 

   .div-items-5{
    background: var(--six-color);
    grid-column: 25 / 33;
    grid-row: 55 / 68;
}   
@keyframes slidein {
    from {
      margin-left:100%;
      width: 100%;
    }

    50%{
        margin-left: 0%;
        width: 50%;
    }

  
    to{
      margin-left: 100%;
      width: 100%;
    }
  }


.div-items-6{
    background: var(--six-color);
    grid-column: 45 / 60;
    grid-row: 10 / 25;
    opacity: 0.8;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    transform: translateY(500px);
    transition: transform 1.5s ease-in;
    transition-delay: 1.5s;
    
}

.div-items-7{
    background: var(--first-color);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 100%);
    grid-column: 33 / 50;
    grid-row: 55 / 82;
}

.div-items-8{
     width: 0px;
     height: 0px;
     border-right: 150px solid #F4D03F;
     border-top: 0px solid transparent;
     border-bottom: 50px solid transparent; 
     grid-column: 60 / 63;
     grid-row: 10;
} 



.div-items-9{
    background: var(--third-color);
    grid-column: 33 / 40;
    grid-row: 82 / 87;
}

.div-items-10{
    background: var(--third-color);
    grid-column: 27 / 33;
    grid-row: 87 / 94;
}

.div-items-11{
     width: 0px;
     height: 0px;
     border-right: 100px solid #F4D03F;
     border-top: 100px solid transparent;
     border-left: 0px solid transparent;
     border-bottom: 0px solid transparent;
     grid-column: 48 / 54;
     grid-row: 80 / 98;
     opacity: 0.9;
}  

.div-items-12{
    background: var(--four-color);
    grid-column: 19 / 25;
    grid-row: 60 / 68;
}

.div-items-13{
    background: var(--four-color);
    grid-column: 60 / 63;
    grid-row: 11 / 40;
    transform: translateX(-300px);
    transition: transform 1.5s ease-in;
    transition-delay: 1.5s;
}

.div-items-13 .paragraph-2{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.div-items-14{
    background: var(--second-color);
    grid-column: 60 / 63;
    grid-row: 40 / 70;
    opacity: 0.8;
}

.div-items-15{
    background: var(--four-color);
    grid-column: 63 / 68;
    grid-row: 70 / 78;
}

